<h2>Users</h2>

<div class="bookmark-listing">
<ul>
<%= for user <- @users,
    [username, user_id, count] = user do %>
  <li><a href="/users/<%= user_id %>"><%= username %> (<%= count %>)</a></li>
<% end %>
</ul>
</div>
