<h2>Hello, <%= String.capitalize @name %>! From Bigwig</h2>
            <pre>

                     
                /\___/\ 
               /       \
              |  0   0  |
               \   ^   /
                 -----
              /         \


           </pre>
