<h2>Edit bookmark</h2>

<%= render "form.html", changeset: @changeset, popup: false,
                        action: bookmark_path(@conn, :update, @bookmark) %>

<%= link "Back", to: bookmark_path(@conn, :index) %>
